/* @media (max-width: 1400px) {
    .header {
        padding: 10rem 2rem;
    }
} */

@media (max-width: 1293px) {
    .btn-spacing-top {
        margin-top: var(--small-space);
    }

    .about-web {
        display: none;
    }

    .about-mobile {
        display: block;
        width: 50%;
        margin: var(--space) auto 0rem auto;
    }

    .about-text {
        width: 645pxpx;
        margin: auto;
        padding-left: var(--padding);
    }

    .about-text h1 {
        text-align: center;
    }

    .flex-about {
        flex-direction: column;
    }

}

@media (max-width: 1100px) {

    #backdrop {
        /* display: none; */
        background-color: black;
        position: fixed;
        /* margin-top: -10px; */
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: .3;
        left: 0;
        transition: .3s;
    }

    .toggle {
        display: block;
        padding-right: 15px;
    }

    .mobile-menu {
        display: none;
        background-color: var(--dark);
        height: 100%;
        width: 80%;
        max-width: 300px;
        margin-top: var(--nav);
        z-index: 1;
    }

    .menu {
        position: fixed;
        z-index: 5;
        background-color: var(--bg);
        height: 100%;
        width: 80%;
        max-width: 300px;
        margin: 0;
        padding-left: 10px;
    }

    .menu li {
        display: block;
        margin-left: 25px;
    }

    .dropdown-content {
        display: block;
        position: relative;
        margin-left: 10px;
        margin-bottom: -10px;
        /* margin-top: 0px; */
        /* z-index: 0; */
    }

    .dropdown-content a {
        color: var(--bg);
        padding: 10px;
    }

    .outline {
        display: inline-block;
        padding: 0px;
        margin-top: 10px;
        margin-left: 25px;
    }

    .outline li {
        margin-left: 0;
    }

    .visibility {
        display: block;
    }

    /* OTHER */

    .header {
        padding: 5rem 2rem;
        z-index: 0;
    }

    .header-project-bg {
        padding: 15rem 0rem;
    }

    .flex {
        flex-direction: column;
    }

    .flex-img, .seachange-card {
        margin-top: var(--small-space);
        width: 100%;
    }

    .coppa-img {
        padding-bottom: var(--small-space);
    }

    .flex-text {
        padding-top: 0;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    /* .row-reverse {
        flex-direction: column-reverse;
        padding-top: 3rem;
    } */

    hr {
        margin: 25px 0px;
    }

    .team {
        max-width: 1000px;
    }

    .left-space {
        padding-left: 0;
    }

    .part-width {
        width: 100%;
    }

    .user-persona {
        max-width: 475px;
    }

    .user-persona h4 {
        padding-top: var(--small-space);
    }

    .user-persona img {
        margin-top: 0;
    }
}

@media (max-width: 800px) {

    .header-project-bg {
        padding: 10rem 0rem;
    }

    h1 {
        font-size: 5rem;
    }

    .about-mobile {
        width: 75%;
    }

    .user-persona img {
        width: 100%;
    }
    
    /* .right-space {
        padding-right: 0;
    } */
}